html, body {
	font-family: Montserrat;
	font-size:16px;
	text-align: center;
	scroll-behavior: smooth;
	background-image: url("background.png");
	}

#header, #main, #footer {
	height: auto;
	width: 325px;
	margin: 10px auto;
	background: white;
	padding: 1px;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
    border-radius: 17px
}

input {
	border: 1px solid #56A5E1;
	border-radius: 5px;
	padding: 1px;
	margin: auto;
	color: blue;
}

input:focus {
	border: 2px solid #438CC3;
}
	
.button {
	border-radius: 8px;
	border: none;
	background-color: #56A5E1;
	color: white;
	font-family: Montserrat;
	font-size: 13px;
	text-align: center;
	padding: 10px 15px;
	cursor: pointer;
}
	
.button:hover {
	background-color: #438CC3;
}